


 .navbar .navbar-brand{
   padding-right:90%;
   
 

}  


.iam{
  color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
       
}
.theam {
  background-color: #FAFA33;
  border: none; /* Optional for Bootstrap buttons */
}

.theam:hover {
  background-color: #5B3CC4;
}

.theam1 {
  background-color: red;
  border: none; /* Optional for Bootstrap buttons */
}

.bit:hover {
  color: blue;
}


.upload-backgroundst {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  overflow: hidden;
}

/* Main background image layer */
.upload-backgroundst::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./file.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

/* Dark overlay on top of image */
.upload-backgroundst::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity for darker or lighter */
  z-index: -1;
}

/* For dark theme, swap background image */
.theme-dark1::before {
  background-image: url("./file.jpg");
}




